.mission-content {
  background-color: #0c0c0c;
  padding-top: 100px;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.mission-content .mission-button {
  justify-content: center;
  display: flex;
}

.mission-content .mission-text {
  padding-top: 100px;
  padding-bottom: 100px;
}

.mission-content .mission-img {
  width: 80%;
  height: 80%;
  margin: auto;
}
