@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap");

@font-face {
  font-family: "M plus 1p";
  src: url("./fonts/M-plus-1p-a.ttf") format("ttf"),
    url("./fonts/M-plus-1p-b.ttf") format("ttf"),
    url("./fonts/M-plus-1p-c.ttf") format("ttf"),
    url("./fonts/M-plus-1p-d.ttf") format("ttf"),
    url("./fonts/M-plus-1p-e.ttf") format("ttf"),
    url("./fonts/M-plus-1p-f.ttf") format("ttf"),
    url("./fonts/M-plus-1p-g.ttf") format("ttf");
  font-weight: bold;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "M plus 1p", sans-serif;
  font-weight: 400;
}
